
.terraform/
node_modules/
*.tfstate
*.tfstate.*
.terraform.tfstate
crash.log
*.backup
*.log
.env

./api-gateway/.env
./cart-service/.env
./menu-service/.env
./order-service/.env    
./user-service/.env


